{% macro renderComments (comment) %}
	<a href="" class="comment_form_toggler">Ответить</a>
	
	<div class="comment_feedback_wrap hidden" >
		<div >Ответить на комментарий:</div>
		<div class="comment_text" contenteditable="true" placeholder-text="Введите сообщение..."></div>
		<a href="" class="send_comment_feedback">Отправить</a>
    	<a href="" class="clear_comment">Очистить</a>
	</div>
	
	{% if comment.childComments is empty %}
		{# null #}
	{% else %}
		<ul class="post_comments">
			{% for childComment in comment.childComments | reverse %}
				<li class="post_comment" id="comment{{childComment.id}}" comment-id={{childComment.id}}>
					<div class="comment_wrap" >
						
						<div class="author">
							{{childComment.author}}
						</div>
						<div class="comment">
							{{childComment.text}}
						</div>
					</div>
					{{ _self.renderComments(childComment) }}
				</li>
			{% endfor %}

		</ul>
	{% endif %}

{% endmacro %}

{% macro renderCommentForm(post) %}

    <div class="post_comment_wrap" post-id={{ post.id }} >
    	<div class="post_comment_head">Оставить комментарий</div>
    	<div class="comment_text" contenteditable="true" placeholder-text="Введите сообщение..."></div>
    	<a href="" class="send_post_comment">Отправить</a>
    	<a href="" class="clear_comment">Очистить</a>
    </div>
{% endmacro %}