{% extends 'base.html.twig' %}

{% block body %}
    
    <div class="posts_wrap">
        
        {% for post in posts %}
            <div class="post"> 

                <div class="post_title">
                    <div class="title">
                        {{ post.title }}
                    </div>
                    <div class="updated">
                        {{ post.updated|date("d/m/Y") }}
                    </div>
                </div>

                <div class="post_body">
                    {{ post.body }}
                </div>
                
                {% if post.images %}
                    <div class="post_images_wrap">
                        {% for image in post.images %}
                            <img src={{'/images/'~image.md5name}} alt="" class="img-responsive post_image_item">
                        {% endfor %}
                    </div>
                {% endif %}
                
                <a href="{{ path('posts_common') }}/{{ post.id }}#comments" class="post_comments link"><i class="fa fa-6 fa-comments" aria-hidden="true"></i></a>
{# 
                {% import "commentRendering.html.twig" as commentRender %}
                {{commentRender.renderCommentForm(post)}}
                
                <div class="comments_header">Комментарии к новости</div>

                <ul class="post_comments">
                    {% for comment in post.comments | reverse %}
                        <li class="post_comment">
                            <div class="comment_wrap">
                                
                                <div class="author">{{ comment.author }}</div>
                                <div class="comment">{{comment.text}}</div>
                            </div>
                            {{commentRender.renderComments(comment)}}
                        </li>
                    {% endfor %}
                </ul> #}


            </div>
        {% endfor %}
    
    </div>



{% endblock %}

{% block title %}Get Study{% endblock %}