{% extends 'base.html.twig' %}


{% block body %}
	<div class="post"> 

                <div class="post_title">
                    <div class="title">
                        {{ post.title }}
                    </div>
                    <div class="updated">
                        {{ post.updated|date("d/m/Y") }}
                    </div>
                </div>

                <div class="post_body">
                    {{ post.body }}
                </div>
                
                {% if post.image%}
                    <img src={{'/images/'~post.image.md5name}} alt="" class="img-responsive">
                {% endif %}
                
                {# <a href="{{ path('posts_common') }}/{{ post.id }}" class="post_comments link"><i class="fa fa-6 fa-comments" aria-hidden="true"></i></a> #}



            </div>
                {% import "commentRendering.html.twig" as commentRender %}
                {{commentRender.renderCommentForm(post)}}
                
                <div class="comments_header" id='comments'>Комментарии к новости</div>

                <ul class="post_comments">
                    {% for comment in post.comments | reverse %}
                        <li class="post_comment">
                            <div class="comment_wrap">
                                
                                <div class="author">{{ comment.author }}</div>
                                <div class="comment">{{comment.text}}</div>
                            </div>
                            {{commentRender.renderComments(comment)}}
                        </li>
                    {% endfor %}
                </ul>
	
    <script>
        $(".submit__btn").click(function(e){
            e.preventDefault();
            var form = $(this).parent().serialize();
            $.post({
                data: form,
                url: "/NewPostComment",
                success: function(e){
                	console.log("yupi");
                    // console.log(e);
                },
                fail: function(e){
                	console.log("nope");
                    // console.log(e);
                }
            });
        });
    </script>   
{% endblock %}


{% block title %}{{post.title}}|Комментарии{% endblock %}

