{% extends 'base.html.twig' %}


{% block body %}
    {{ form_start(postCommentForm) }}
    {{ form_widget(postCommentForm, {'attr':{'class':'post_comment_form'}}) }}
    {{ form_end(postCommentForm) }}

    {{ form_start(commentCommentForm) }}
    {{ form_widget(commentCommentForm, {'attr':{'class':'comment_comment_form'}}) }}
    {{ form_end(commentCommentForm) }}

	<div class="post" post-id={{ post.id }}> 

                <div class="post_title">
                    <div class="title">
                        {{ post.title }}
                    </div>
                    <div class="updated">
                        {{ post.updated|date("d/m/Y") }}
                    </div>
                </div>

                <div class="post_body">
                    {{ post.body }}
                </div>
                
                {% if post.images%}
                    <div class="post_images">
                        {% for image in post.images %}
                            <img src={{'/images/'~image.md5name}} alt="" class="img-responsive">
                        {% endfor %}
                    </div>
                {% endif %}


            {% import "commentRendering.html.twig" as commentRender %}
            {{commentRender.renderCommentForm(post)}}
            
            <div class="comments_header" id='comments'>Комментарии к новости</div>

            <ul class="post_comments">
                {% for comment in post.comments | reverse %}
                    <li class="post_comment" comment-id={{comment.id}}>
                        <div class="comment_wrap">
                            
                            <div class="author">{{ comment.author }}</div>
                            <div class="comment">{{comment.text}}</div>
                        </div>
                        {{commentRender.renderComments(comment)}}
                    </li>
                {% endfor %}
            </ul>
        </div>

    <script>
        $(".submit__btn").click(function(e){
            e.preventDefault();
            var form = $(this).parent().serialize();
            $.post({
                data: form,
                url: "/NewPostComment",
                success: function(e){
                	console.log("yupi");
                    // console.log(e);
                },
                fail: function(e){
                	console.log("nope");
                    // console.log(e);
                }
            });
        });
    </script>   
{% endblock %}


{% block title %}{{post.title}}|Комментарии{% endblock %}

