{% extends 'base.html.twig' %}

{% block body %}
	just a little text
	{% set previousRegion = '' %}
		<div class="">
	{% for university in universities %}
			
			{% if university.city.region.name != previousRegion %}
				</div>
				<div class="region_universities">
					
					<div class="region_name">{{ university.city.region.name }}</div>
					<div class="university_link_wrap"><a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}/{{ university.name }}">{{ university.name }}</a>
					</div>
				
				

				{% set previousRegion = university.city.region.name %}
			
			{% else %}
			
				<div class=""><a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}/{{ university.name }}">{{ university.name }}</a>
				</div>
			
			{% endif %}
			
		
	{% endfor %}	
	</div>
{% endblock %}

{% block title %}Выбор университета{% endblock %}